@{
    ViewBag.Title = "DatosP";
}

<h2>DatosP</h2>

<h3>Matricula: @ViewBag.Matricula</h3>
<h3>Carrera: @ViewBag.Carrera</h3>
<h3>Nombre: @ViewBag.Nombre</h3>
<h3>Apellido: @ViewBag.Apellido</h3>
<h3>Fecha de Nacimiento: @ViewBag.FechaNacimiento</h3>
<h3>Correo Institucional: @ViewData["CorreoInstitucional"]</h3>
<h3>Seccion: @ViewData["Seccion"]</h3>


<h3>Numero Magico: @ViewData["NumeroMagico"]</h3>


<h3>Foto:</h3>
<img src="https://www.okchicas.com/wp-content/uploads/2020/11/Michael-B.-Jordan.jpg" alt="Foto" />

